$primary_color: #AAA;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

#navbar {
	position: fixed;
	height: 60%;
	width: 107px;
  border: 1px black solid;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
	top: 0;
	left: 0;
  background-color: white;
  text-align: center;
}

h2 {
  font-size: 18px;
}

h1 {
	font-size: 24px;
	margin: 45px 0 20px 10px;
	color: #FF3B3F;
}

#nav-list {
	list-style-type: none;
	padding: 10px;
}

.nav-link {
	color: #454545;
	padding: 13px;
	display: block;
}

.nav-link:hover {
	background-color: #EFEFEF;
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}